:root {
  --shadow-hard: rgba(45, 45, 45, 0.3) 1px 3px 0 -2px;
  --tooltip-bg: rgba(45, 45, 45, 1);
  --callout-bg: white;
  --inner-h: 100vh;
}

body {
  overflow: hidden;
  touch-action: manipulation;
}

@viewport {
  user-zoom: fixed;
  zoom: 1;
  min-zoom: 1;
  max-zoom: 1;
}
