/* icon */

.icon {
  /*
  https://juejin.im/entry/5bc441a5f265da0aca333506
  https://zhuanlan.zhihu.com/p/30624268
  */
  display: inline-flex;
  align-items: center;

  &::before {
    content: '\200b';
  }

  & svg {
    fill: currentColor;
    display: inline-block;
  }
}

.spinner-icon {
  & svg {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* icon end */

/* tooltip */

.tooltip-show {
  animation: tooltip-show 0.15s linear;
}

.tooltip-hide {
  animation: tooltip-hide 0.1s linear;
  opacity: 0;
}

@keyframes tooltip-show {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes tooltip-hide {
  0% {
    opacity: 100%;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1em);
  }
}

/* tooltip end */

.link {
  @apply text-green-700;

  &:hover {
    @apply border-b border-green-500 text-green-600;
  }

  &:active {
    @apply text-green-500;
  }
}

/* button */

.btn {
  @apply py-2 px-4 bg-white border border-gray-600 rounded-sm transition duration-150 select-none;
  min-width: 5rem;

  &:hover {
    filter: brightness(96%);
  }

  &:focus {
    @apply outline-none;
    box-shadow: var(--focus-shadow);
  }

  &:active {
    @apply btn-down;
  }

  &:disabled {
    @apply opacity-50 pointer-events-none;
  }
}

.btn-down {
  box-shadow: inset 3px 3px 0 -1px rgba(0, 0, 0, 0.2), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.2);
  filter: brightness(90%);

  &:focus {
    box-shadow: inset 3px 3px 0 -1px rgba(0, 0, 0, 0.2), inset -1px -1px 0 0 rgba(0, 0, 0, 0.2), var(--focus-shadow);
  }
}

.btn-primary {
  @apply text-white bg-teal-600;

  &:hover {
    @apply bg-teal-500;
  }
  &:active {
    @apply bg-teal-700;
  }
}

.btn-colored {
  background-image: none;
  @apply text-white border-transparent;

  &:focus {
    border-color: var(--focus-color);
    box-shadow: var(--focus-shadow);
  }
}

.btn-3d {
  @apply py-2 px-4 bg-white border border-gray-600 select-none;
  min-width: 5rem;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);

  &:hover {
    filter: brightness(96%);
  }

  &:focus {
    @apply outline-none;
    box-shadow: var(--focus-shadow);
  }

  &:active {
    @apply btn-3d-down;
  }

  &:disabled {
    @apply opacity-50 pointer-events-none;
  }
}

.btn-3d-down {
  box-shadow: none;
  transform: translateY(1px);
  filter: brightness(90%);
}

.btn-primary {
  @apply bg-primary-600 btn-colored;
}

.btn-danger {
  @apply bg-red-500 btn-colored;
}

.btn-icon {
  @apply min-w-0 min-w-0 p-1;
}

.btn-circles {
  @apply rounded-full inline-flex items-center justify-center px-2;
}

/* button end */

.input {
  @apply rounded-sm border border-gray-700 py-1 px-2 transition duration-150;

  &:focus {
    @apply outline-none;
    box-shadow: var(--focus-shadow);
  }

  &:hover {
    filter: brightness(95%);
  }

  &:disabled {
    @apply bg-gray-200 text-gray-600;

    filter: brightness(100%);
  }
}

.input-underline {
  @apply border-t-0 border-l-0 border-r-0 border-b rounded-none;

  &:focus {
    @apply border-primary-400;
    border-color: theme('colors.primary.600');
    box-shadow: inset 0 -1px 0 0 theme('colors.primary.600');
  }
}

.checkbox {
  @apply border border-gray-600 appearance-none inline-block w-3 h-3;
  @apply shadow-hard;
  &:hover {
    @apply bg-teal-300;
  }
  &:active {
    @apply shadow-none transform translate-y-px;
  }
  &:checked {
    @apply bg-teal-600 transform translate-y-px;
    box-shadow: white 0 0 0 2px inset;
  }
  &:focus {
    @apply outline-none;
  }
}

.input-error {
  @apply border-red-400 bg-red-100;

  &:focus {
    @apply bg-red-100;
    box-shadow: theme('colors.red.500') 0 0 0 2px inset;
  }
}

.menu {
  @apply w-32 shadow-lg bg-white border border-gray-700;
}

.menu-item {
  @apply p-2 border-t border-gray-500 select-none;

  &:first-of-type {
    @apply border-t-0;
  }

  &:hover {
    @apply bg-gray-300;
  }

  &:active {
    @apply bg-gray-100;
  }
}

.menu-item-static {
  @apply bg-gray-100 text-gray-700;
  &:hover {
    @apply bg-gray-100;
  }
  &:active {
    @apply bg-gray-100;
  }
}

.tooltip {
  @apply pointer-events-none text-white p-1 text-xs transform;
  background-color: var(--tooltip-bg);
  @apply -translate-x-1/2 -translate-y-full;
  &::after {
    @apply z-30 transform translate-y-1 absolute left-0 right-0 mx-auto block w-0 h-0;
    content: '';
    border: 0.5em solid transparent;
    border-top: 0.5em solid var(--tooltip-bg);
  }
}

.tooltip-left {
  @apply -translate-x-full;
}

.tooltip-bottom {
  @apply translate-y-0;
  &::after {
    content: none;
  }
  &::before {
    @apply z-10 absolute left-0 right-0 mx-auto block w-0 h-0;
    content: '';
    border: 0.5em solid transparent;
    border-bottom: 0.5em solid var(--tooltip-bg);
    top: 0;
    transform: translateY(-100%);
  }
}

.tooltip-right {
  @apply translate-x-0;
}

.tooltip-wrap {
  @apply inline-block relative;
  & .tooltip-content {
    @apply hidden;
  }

  &:hover .tooltip-content {
    @apply block text-xs p-2 text-white absolute pointer-events-none z-30;
    width: max-content;
    background-color: var(--tooltip-bg);
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    &::after {
      @apply z-30 transform translate-y-1 absolute left-0 right-0 mx-auto block w-0 h-0;
      content: '';
      border: 1em solid transparent;
      border-top: 1em solid var(--tooltip-bg);
    }
  }

  &:hover .tooltip-bottom {
    top: 100%;
    bottom: unset;

    &::before {
      @apply z-10 absolute left-0 right-0 mx-auto block w-0 h-0;
      content: '';
      border: 1em solid transparent;
      border-bottom: 1em solid var(--tooltip-bg);
      top: 0;
      transform: translateY(-100%);
    }

    &::after {
      content: none;
    }
  }
}

.callout {
  @apply absolute p-2 z-10;
  background-color: var(--callout-bg);
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0px 1px 2px rgb(45, 45, 45));

  &::after {
    @apply z-10 transform translate-y-1 absolute left-0 right-0 mx-auto block w-0 h-0 pointer-events-none;
    content: '';
    border: 1em solid transparent;
    border-top: 1em solid var(--callout-bg);
  }
}

.mask {
  @apply z-40 flex justify-center items-center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dialog {
  @apply max-w-sm p-4;
}

.dialog-title {
  @apply text-xl mt-1 mb-4;
}

.bg-logo {
  background-image: url('../../public/logo-512x512.png');
}

.channel-item {
  @apply w-full px-4 py-1 text-sm inline-block truncate;
  &:hover {
    @apply bg-gray-300;
  }
  &:active {
    @apply bg-gray-100;
  }
  &::before {
    @apply font-mono mr-1 text-gray-600;
    content: '#';
  }
}

.stripe-light {
  background: repeating-linear-gradient(
    45deg,
    theme('colors.gray.200'),
    theme('colors.gray.200') 10px,
    theme('colors.gray.300') 10px,
    theme('colors.gray.300') 20px
  );

  &:hover {
    background: repeating-linear-gradient(
      45deg,
      theme('colors.gray.300'),
      theme('colors.gray.300') 10px,
      theme('colors.gray.400') 10px,
      theme('colors.gray.400') 20px
    );
  }
}

.stripe-dark {
  background: repeating-linear-gradient(
    45deg,
    theme('colors.gray.700'),
    theme('colors.gray.700') 10px,
    theme('colors.gray.800') 10px,
    theme('colors.gray.800') 20px
  );

  &:hover {
    background: repeating-linear-gradient(
      45deg,
      theme('colors.gray.800'),
      theme('colors.gray.800') 10px,
      theme('colors.gray.900') 10px,
      theme('colors.gray.900') 20px
    );
  }
}

.message-item {
  transition: max-height 0.5s;
}

.message-operation {
  @apply px-2 py-2 opacity-50;

  &:hover {
    @apply opacity-100;
  }

  &:focus {
    @apply outline-none;
  }
}
