.icon {
  /*
  https://juejin.im/entry/5bc441a5f265da0aca333506
  https://zhuanlan.zhihu.com/p/30624268
  */
  display: inline-flex;
  align-items: center;

  &::before {
    content: '\200b';
  }

  & svg {
    fill: currentColor;
    display: inline-block;
  }
}

.spinner-icon {
  & svg {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.tooltip-show {
  animation: tooltip-show 0.15s linear;
}

.tooltip-hide {
  animation: tooltip-hide 0.1s linear;
  opacity: 0;
}

@keyframes tooltip-show {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes tooltip-hide {
  0% {
    opacity: 100%;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1em);
  }
}

.btn {
  @apply py-2 px-4 bg-white border border-gray-600 transition duration-150 select-none;
  min-width: 5rem;

  &:hover {
    filter: brightness(96%);
  }

  &:focus {
    @apply outline-none;
    box-shadow: var(--focus-shadow);
  }

  &:active {
    @apply btn-down;
  }

  &:disabled {
    @apply opacity-50 pointer-events-none;
  }
}

.btn-group {
  @apply rounded-none border-r-0 shadow-ui;
  &:first-of-type {
    @apply rounded-l;
  }
  &:last-of-type {
    @apply rounded-r border-r;
  }
  &:nth-of-type(even) {
  }
}

.btn-down {
  filter: brightness(90%);

  &:focus {
    box-shadow: var(--focus-shadow);
  }
}

.btn-colored {
  background-image: none;
  @apply text-white border-transparent;

  &:focus {
    border-color: var(--focus-color);
    box-shadow: var(--focus-shadow);
  }
}

.btn-3d {
  @apply py-2 px-4 bg-white border border-gray-600 select-none;
  min-width: 5rem;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);

  &:hover {
    filter: brightness(96%);
  }

  &:focus {
    @apply outline-none;
    box-shadow: var(--focus-shadow);
  }

  &:active {
    @apply btn-3d-down;
  }

  &:disabled {
    @apply opacity-50 pointer-events-none;
  }
}

.btn-3d-down {
  box-shadow: none;
  transform: translateY(1px);
  filter: brightness(90%);
}

.btn-primary {
  @apply bg-primary-600 btn-colored;
}

.btn-danger {
  @apply bg-red-500 btn-colored;
}

.btn-icon {
  @apply min-w-0 min-w-0 p-1;
}

.circles {
  @apply rounded-full inline-flex items-center justify-center px-2;
}

.input {
  @apply rounded-sm border border-gray-700 py-1 px-2 transition duration-150;

  &:focus {
    @apply outline-none;
    box-shadow: var(--focus-shadow);
  }

  &:hover {
    filter: brightness(95%);
  }

  &:disabled {
    @apply bg-gray-200 text-gray-600;

    filter: brightness(100%);
  }
}

.input-underline {
  @apply border-t-0 border-l-0 border-r-0 border-b rounded-none;

  &:focus {
    @apply border-primary-400;
    border-color: theme('colors.primary.600');
    box-shadow: inset 0 -1px 0 0 theme('colors.primary.600');
  }
}

.menu {
  @apply bg-white py-1 rounded-sm shadow-ui;
}

.menu-item {
  @apply px-4 py-2 select-none max-w-xs;

  &:hover {
    @apply bg-gray-200;
  }

  &:active {
    @apply bg-gray-300;
  }
}

.modal-mask {
  @apply fixed left-0 right-0 top-0 bottom-0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  @apply z-30 fixed rounded-sm shadow-ui;
  background-color: rgba(255, 255, 255, 1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox {
  height: 1em;
}

.select {
  @apply p-1;
  min-width: 6em;
}
