@responsive {
  @variants hover, focus {
    .shadow-hard {
      box-shadow: var(--shadow-hard);
    }

    .flex-0-auto {
      flex: 0 0 auto;
    }

    .flex-1-0 {
      flex: 1 1 0;
    }

    .h-screen-true {
      height: var(--inner-h);
    }
  }
}
