$spacing: 0.25rem;

@mixin p($factor) {
  padding: $spacing * $factor;
}
@mixin pt($factor) {
  padding-top: $spacing * $factor;
}
@mixin pr($factor) {
  padding-right: $spacing * $factor;
}
@mixin pb($factor) {
  padding-bottom: $spacing * $factor;
}
@mixin pl($factor) {
  padding-left: $spacing * $factor;
}
@mixin px($factor) {
  padding-left: $spacing * $factor;
  padding-right: $spacing * $factor;
}
@mixin py($factor) {
  padding-top: $spacing * $factor;
  padding-bottom: $spacing * $factor;
}
@mixin pxy($x, $y) {
  padding: $spacing * $y $spacing * $x;
}

@mixin m($factor) {
  margin: $spacing * $factor;
}
@mixin mt($factor) {
  margin-top: $spacing * $factor;
}
@mixin mr($factor) {
  margin-right: $spacing * $factor;
}
@mixin mb($factor) {
  margin-bottom: $spacing * $factor;
}
@mixin ml($factor) {
  margin-left: $spacing * $factor;
}
@mixin mx($factor) {
  margin-left: $spacing * $factor;
  margin-right: $spacing * $factor;
}
@mixin my($factor) {
  margin-top: $spacing * $factor;
  margin-bottom: $spacing * $factor;
}
@mixin mxy($x, $y) {
  margin: $spacing * $y $spacing * $x;
}
