@import "node_modules/normalize-scss/sass/normalize"
@import "base"
@include normalize()

*
  box-sizing: border-box

\:root
  --page-height: 100vh


h1, h2, h3, h4, h5, h6
  font-weight: normal
  font-size: 1rem
  padding: 0
  margin: 0

body
  height: var(--page-height)
  background-color: $bg-color
  color: $text-color
  font-size: $font-base

.NewDesign
  +p(2)
  +py(4)
  h1
    font-size: 2rem
    +my(2)
  h2
    font-size: 1.25rem
    +my(1)
  .buttons
    .btn-large, .btn-small
      margin: $spacing
      &:first-of-type
        margin-left: 0



@import "tooltip"
@import "buttons"

.icon
  //
    https://juejin.im/entry/5bc441a5f265da0aca333506
    https://zhuanlan.zhihu.com/p/30624268
  display: inline-flex
  align-items: center

  &::before
    content: '\200b'

  & svg
    fill: currentColor
    display: inline-block

.spin
  animation: spin 1.5s linear infinite

@keyframes spin
  100%
    transform: rotate(360deg)


.min-w-auto
  min-width: auto
