@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    /* https://github.com/system-fonts/modern-font-stacks#humanist */
    font-family: 'IBM Plex Sans', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  }
  html.switching,
  html.switching * {
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-property: background-color, border-bottom-color, border-top-color, border-left-color, border-right-color,
      outline-color;
  }

  @font-face {
    font-family: fusion-pixel-ja;
    src: url('./fonts/fusion-pixel-10px-monospaced-ja.woff2');
  }
  :lang(ja) .font-pixel {
    font-family: fusion-pixel-ja, monospace;
  }
  @font-face {
    font-family: fusion-pixel-latin;
    src: url('./fonts/fusion-pixel-10px-monospaced-latin.woff2');
  }
  :lang(en) .font-pixel {
    font-family: fusion-pixel-latin, monospace;
  }
  @font-face {
    font-family: fusion-pixel-zh-hans;
    src: url('./fonts/fusion-pixel-10px-monospaced-zh_hans.woff2');
  }
  :lang(zh-CN) .font-pixel {
    font-family: fusion-pixel-zh-hans, monospace;
  }
  @font-face {
    font-family: fusion-pixel-zh-hant;
    src: url('./fonts/fusion-pixel-10px-monospaced-zh_hans.woff2');
  }
  #__next {
    height: 100%;
  }
}

@layer components {
  .link {
    @apply text-link-normal hover:text-link-hover active:text-link-active no-underline;
  }
}

@layer utilities {
  .contain-strict {
    contain: strict;
  }
  .contain-content {
    contain: content;
  }
  .contain-size {
    contain: size;
  }
  .view-height {
    height: 100vh;
    height: 100dvh;
  }
}

@media all and (display-mode: standalone) {
  .standalone-bottom-padding {
    padding-bottom: 2.5rem;
  }
}
