name: Check

on: [push]

jobs:
  workspace:
    name: Node Workspace
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [18]

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.5.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - uses: extractions/setup-just@v1

      - name: Install
        run: just install

      - name: Build
        run: just build
        env:
          CI: true

      - name: Lint
        run: just lint

  cargo:
    name: Cargo Workspace
    env:
      CI: true
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - "6379:6379"
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: boluo
        ports:
          - "5432:5432"

    steps:
      - uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy

      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build

      - name: Clippy
        run: cargo clippy

      - name: Init test environment
        run: cargo run -p manage-cli -- init
        env:
          DATABASE_URL: postgresql://postgres:postgres@localhost/boluo

      - name: Test
        run: cargo test
        env:
          DATABASE_URL: postgresql://postgres:postgres@localhost/boluo
          TEST_DATABASE_URL: postgresql://postgres:postgres@localhost/boluo
          SECRET: SOME_SECRET
          REDIS_URL: redis://localhost/
          DEBUG: 1
          PORT: 3000

  dprint:
    name: Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dprint/check@v2.2
        with:
          dprint-version: 0.44.0

  cargo-fmt:
    name: Style (Rust)
    container: rust:slim
    steps:
      - uses: actions/checkout@v2
      - run: cargo fmt --all --check
